<div class="container">
  <div class="container layout-card">
    <h1 class="h1 text-center" style="border-bottom: 1px solid grey; padding-bottom: 30px"><%= @charity.name %></h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="charity-information">
          <div class="charity-info">
            <%= @charity.description %>
          </div>
          <h3><a href="mailto:<%= @charity.email %>"> <%= @charity.email %> <i class="fa fa-envelope"></i></a></h3>
          <div class="charity-info-button">
            <a href='<%= @charity.website %>' class="btn btn-danger"> Charity website</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <div class="charity-donate">
          <div class="charity-items">
            <h3 style="color:grey"> <%= @charity.name %> is requesting: </h3>
            <ul style="padding-left: 0; font-size: 22px">
              <% @charity.items.each do |item| %>
              <li>
                <a href="<%= item.link %>"><%= item.quantity %> <%= item.name.capitalize.pluralize %></a>
              </li>
              <% end %>
            </ul>
          </div>

          <div class="charity-goals">

            <p class="goals" ><%= @charity.name %>'s total goal: $<span id="goal"><%= number_with_precision(@goal, precision: 2) %></span></p>

            <div id="large-box">
              <div id="small-box">
                <p id="percent"></p>
              </div>
            </div>

            <p class="goals">We have raised $<span id="total" class="totalvalue"><%= @total %></span> !</p>

            <div class="charity-button" >

              <%= link_to "Donate", new_charity_transaction_path(@charity), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: :100px; margin-top: 100px;">

      <% @charity.photos.each do |photo| %>
      <div class="col-xs-4">
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      </div>
      <% end %>


    </div>
    <div class="row">
      <div class="video-frame">
        <iframe width="980" height="551" src= <%= @embedded_video_url %>  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

</div>



<script>
  let totalElement = document.getElementById("total");
  let totalBtc = Number(totalElement.innerText);
  let totalGoal = document.getElementById("goal").innerText;
  let bar = document.getElementById("small-box");
  let percentage = document.getElementById("percent");
  console.log(totalGoal);

  let url = "https://blockchain.info/tobtc?currency=USD&value=1";
  fetch(url)
  .then(response => response.text())
  .then((data) => {
    let btcValue = Number(data)
    let dollarTotal = (totalBtc/btcValue).toFixed(2);
    console.log(dollarTotal);
    totalElement.innerText = dollarTotal
    totalElement.style.display = "inline-block";
    let percent = Math.round((dollarTotal/totalGoal) * 100)
    console.log(percent)
    bar.style.width = `${percent}%`;
    percentage.innerText = `${percent}%`;
    if (percent < 25) { bar.style.backgroundColor = "red" }
    else if ( percent < 60) {bar.style.backgroundColor = "orange"}
    else { bar.style.backgroundColor = "green" }


  });

</script>




