<h1><%= @charity.name %></h1>
<h2><a href= <%= @charity.website %> ><%= @charity.website %></a></h2>
<h3>Contact: <%= @charity.email %></h3>
<p><%= @charity.description %></p>

<iframe width="560" height="315" src= <%= @embedded_video_url %>  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p><%= link_to "Donate to #{@charity.name}", new_charity_transaction_path(@charity), class: "btn btn-primary" %></p>


<%= @charity.photos %>

<% @charity.photos.each do |photo| %>
<%= photo %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

