<div class="container">
  <div class="container layout-card">
    <h1 class="h1 text-center"><%= @charity.name %></h1>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3><a href="mailto:<%= @charity.email %>"> <%= @charity.email %> <i class="fa fa-envelope"></i></a></h3>
        <div class="charity-info">
          <%= @charity.description %>
        </div>
        <a href='<%= @charity.website %>' class="btn btn-danger"> Charity website</a>
      </div>
      <div class="col-xs-12 col-sm-6 charity-donate">
        <h3> <%= @charity.name %> is requesting: </h3>
        <ul>
          <% @charity.items.each do |item| %>
          <li>
            <%= item.quantity %> <%= item.name.capitalize.pluralize %>
          </li>
          <% end %>
        </ul>

        <%= @charity.name %>'s total goal: <%= number_to_currency(@goal) %>

        <div id="large-box">
          <div id="small-box" style="width: 35%";>
          </div>
        </div>

        <p>We have raised 35% of the goal!</p>


        <p><%= link_to "Donate to #{@charity.name}", new_charity_transaction_path(@charity), class: "btn btn-primary" %></p>
      </div>
    </div>

    <div class="row top-margin-100">

      <% @charity.photos.each do |photo| %>
      <div class="col-xs-4">
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      </div>
      <% end %>


    </div>
    <div class="row">
      <div class="video-frame">
        <iframe width="560" height="315" src= <%= @embedded_video_url %>  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>

</div>

<style>

#large-box {
  width: 100%;
  background-color: lightgrey;
  height: 20px;
  border-radius: 4px;
  display: flex;
}

#small-box {
  background-color: blue;
  height: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

</style>



