<div class="container">
  <div class="container-transactions top-margin-100">
    <h2>Transactions Index</h2>

    <h3>This is a record of the transactions for:   <em> <%= @charity.name %>   </em></h3>
    <p>Date this charity was listed: <%= @charity.created_at %></p>
    <p>Last received donation: <%= @transactions.last.created_at %></p>
    <div class="table">
      <div class = "row">
        <div class = "col-xs-4">
          <h3>Transaction Occurred</h3>
        </div>
        <div class = "col-xs-4">
          <h3>Sender Address</h3>
        </div>
        <div class = "col-xs-4">
          <h3>Transaction Amount</h3>
        </div>
      </div>
      <% sum = 0 %>
      <% @transactions.each do |transaction| %>
      <div class = "row">
        <div class = "col-xs-4">
          <%= transaction.created_at %>
        </div>
        <div class = "col-xs-4">
          <p><%= transaction.sender_address %></p>
        </div>
        <div class = "col-xs-4">
          <p><%= transaction.amount %> Bitcoin
            <% sum += transaction.amount %></p>
          </div>
        </div>
        <% end %>
        <hr>
        <div class = "row">
          <div class="col-xs-4">

          </div>
          <div class="col-xs-4" style=" text-align: right;">
            <h3>Total:</h3>
          </div>
          <div class="col-xs-4">
            <h3>
          <%= number_with_precision(sum, precision:4) %> Bitcoin</h3>
          </div>
    <%= link_to "See My Transactions", sender_addresses_path, class: "btn btn-primary" %>
        </div>
      </div>
    </hr>

  </div>


</div>
