
<div class="container">

  <div class="container layout-card">
    <h1>Donation Calculator</h1>
    <h2>Donate to: <em><%= @charity.name %></em> </h2>

    <table class="table">
      <thead>
        <tr>
          <th>Items needed</th>
          <th>Item</th>
          <th>Price</th>
          <th>Donation Quantity</th>
        </tr>
      </thead>
      <tbody id="items">

        <% @charity.items.each do |item| %>
        <tr>
          <td>
            <%= item.quantity %>
          </td>
          <td>
            <%= item.name.capitalize.pluralize %>
          </td>
          <td>
            <%= number_with_precision(item.price, precision: 2)  %>
          </td>
          <td>
            <input type="number" class="in" min="0" max= "<%= item.quantity %>" >
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <input type="text" id="dollars" readonly="readonly"> <i class=" fa fa-arrow-right fa-1x"></i>
    <input type="text" id="bitcoin" readonly="readonly">

    <div>


      <button type="button" id="prep-donation-btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Prepare donation
      </button>
    </div>
  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <iframe src="https://giphy.com/embed/l0JMrPWRQkTeg3jjO" width="60%" height="600px" frameBorder="0" class="giphy-embed" id ="gif" style="display: none; position: sticky; top: 20%; left: 20%;" allowFullScreen></iframe><p id="gif_link" style="display: none"><a href="https://giphy.com/gifs/infinite-lego-zoom-l0JMrPWRQkTeg3jjO">via GIPHY</a></p>


  <div class="modal-dialog modal-lg" id="modal-content" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Donation total</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-xs-6">
                <h3 id="prep-bit-value" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                No donation prepared
                </h3>
              <div id="prep-bit-value">
              </div>
            </div>
            <div class="col-xs-6 text-center">
              <h3> Donate by <strong> phone </strong></h3>
              <%= image_tag (@charity.name.downcase.split(/[ .-]/).join("_") + ".png") %>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-body text-center">

        <h3><em><%= @charity.name.capitalize %> wallet address</em></h3>


        <h2>
          <%= @charity_front_wallet %>
        </h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
        <%= link_to "See transactions for #{@charity.name}", charity_transactions_path(@charity), class: "btn btn-primary", id: "view_transactions"%>
      </div>
    </div>
  </div>
</div>
</div>




<script>

  let button = document.getElementById("view_transactions");
  let link = document.getElementById("gif_link");
  let gif = document.getElementById("gif");
  let modalContent = document.getElementById("modal-content");

  button.addEventListener("click", (e) => {
    link.style.display = "inline";
    gif.style.display = "inline";
    modalContent.style.display = "none";


  })



</script>


<script>

  let prepBtn = document.getElementById("prep-donation-btn");
  prepBtn.addEventListener("click", function(){
    let bitcoins = document.getElementById("bitcoin").value;
    let title = document.getElementById("prep-bit-value")
    title.innerText = bitcoins;
  })
  function convert()
  {
    const form = document.getElementById("dollars");
    const bitcoin = document.getElementById("bitcoin");
    const items = document.querySelector("tbody");
    const rows = items.querySelectorAll("tr");
    const url_base = "https://blockchain.info/tobtc?currency=USD&value=";
    console.log(rows);

    items.addEventListener("input", (e) => {
      let sum = 0;
      rows.forEach((item) => {
        let elements = item.querySelectorAll("td");
        let input_quantity = parseFloat(item.querySelector(".in").value)
        let price = parseFloat(item.querySelectorAll("td")[2].innerText)
        if (input_quantity && price){
          sum += input_quantity * price
        }
      })
      form.value = "$" + sum.toFixed(2) + "USD"

      let url = url_base + sum;
      fetch(url)
      .then(response => response.text())
      .then((data) => {
        if (form.value) {
          bitcoin.value = data + " Bitcoin";
        }else{
          bitcoin.value = "";
        }
      });
    })
  }
  convert();
</script>
