
<div class="container">
  <div class="container layout-card">
    <h1>Donation Calculator</h1>
    <h2>Donate to: <em><%= @charity.name %></em> </h2>
    <div class="row">
      <div class="col-xs-6">
        <table class="table">
          <thead>
            <tr>
              <th>Items needed</th>
              <th>Item</th>
              <th>Price</th>
              <th>Donation Quantity</th>
            </tr>
          </thead>
          <tbody id="items">

            <% @charity.items.each do |item| %>
            <tr>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                <%= item.name.capitalize.pluralize %>
              </td>
              <td>
                <%= number_with_precision(item.price, precision: 2)  %>
              </td>
              <td>
                <input type="number" class="in" min="0" max= "<%= item.quantity %>" >
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <input type="text" id="dollars" readonly="readonly"> <i class=" fa fa-arrow-right fa-1x"></i>
        <input type="text" id="bitcoin" readonly="readonly">
      </div>
      <div class="col-xs-6">
        <p> Average expenses on overhead by American Charities
        </p>
        <p>Source: “Where’d My Money Go?,” a survey by Phoenix, Ariz.-based Grey Matter Research & Consulting</p>

        <img src="<%= image_path 'piechart.png' %>" alt="banner.png">

        <!-- imwage_tag -> <img src="images/piechart-87239487sdfsadf.png" alt="">
        image_path -> images/piechart-87239487sdfsadf.png -->
        <!-- Grafiken und Text zu unserem Approach  -->
      </div>
    </div>

    <div>
      <button type="button" id="prep-donation-btn" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Prepare donation
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Donation total</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-xs-6">
              <p>Dear valued donor, please prepare a donation in the tune of: </p>
              <h1 id="prep-bit-value"></h1>
            </div>
            <div class="col-xs-6">
              <%= image_tag @charity.name.downcase.split(/[ .-]/).join("_") %>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-body">

        <p>By copying this amount to your clipboard and logging into your crypto wallet. Then paste the amount and copy & paste the following wallet adrress of the Charity you selected: </p>
        <h3><em><%= @charity.name.capitalize %></em></h3>
      </col>
      <h2>
        <%= @charity_front_wallet %>
      </h2>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= link_to "See transactions for #{@charity.name}", charity_transactions_path(@charity), class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>

<script>

  let prepBtn = document.getElementById("prep-donation-btn");
  prepBtn.addEventListener("click", function(){
    let bitcoins = document.getElementById("bitcoin").value;
    let title = document.getElementById("prep-bit-value")
    title.innerText = bitcoins;
  })
  function convert()
  {
    const form = document.getElementById("dollars");
    const bitcoin = document.getElementById("bitcoin");
    const items = document.querySelector("tbody");
    const rows = items.querySelectorAll("tr");
    const url_base = "https://blockchain.info/tobtc?currency=USD&value=";
    console.log(rows);

    items.addEventListener("input", (e) => {
      let sum = 0;
      rows.forEach((item) => {
        let elements = item.querySelectorAll("td");
        let input_quantity = parseFloat(item.querySelector(".in").value)
        let price = parseFloat(item.querySelectorAll("td")[2].innerText)
        if (input_quantity && price){
          sum += input_quantity * price
        }
      })
      form.value = "$" + sum + "USD"

      let url = url_base + sum;
      fetch(url)
      .then(response => response.text())
      .then((data) => {
        if (form.value) {
          bitcoin.value = data + " Bitcoin";
        }else{
          bitcoin.value = "";
        }
      });
    })
  }
  convert();
</script>
