
<div class="container">
  <div class="container layout-card">
    <h1>Donation Calculator</h1>
    <h2>Donate To: <%= @charity.name %> </h2>
    <div class="col-6-xs">
      <table>
        <thead>
          <tr>
            <th>Donation Quantity</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity Desired</th>
          </tr>
        </thead>
        <tbody id="items">

          <% @charity.items.each do |item| %>
          <tr>
            <td>
              <input type="number" class="in" min="0" max= "<%= item.quantity %>" >
            </td>
            <td>
              <%= item.name %>
            </td>
            <td>
              <%= number_with_precision(item.price, precision: 2)  %>
            </td>
            <td>
              <%= item.quantity %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      Total Value: <input type="text" id="dollars" readonly="readonly">
      <p>Bitcoin Conversion: <input type="text" id="bitcoin" readonly="readonly"></p>
      <p><%= @charity.name %> Wallet Address: <%= @charity_front_wallet %></p>
      <%= link_to "See transactions for #{@charity.name}", charity_transactions_path(@charity), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<script>
  function convert()
  {
    const form = document.getElementById("dollars");
    const bitcoin = document.getElementById("bitcoin");
    const items = document.querySelector("tbody");
    const rows = items.querySelectorAll("tr");
    const url_base = "https://blockchain.info/tobtc?currency=USD&value=";
    console.log(rows);

    items.addEventListener("input", (e) => {
      let sum = 0;
      rows.forEach((item) => {
        let elements = item.querySelectorAll("td");
        let input_quantity = parseFloat(item.querySelector(".in").value)
        let price = parseFloat(item.querySelectorAll("td")[2].innerText)
        if (input_quantity && price){
          sum += input_quantity * price
        }
      })
      form.value = "$" + sum + "USD"

      let url = url_base + sum;
      fetch(url)
      .then(response => response.text())
      .then((data) => {
        if (form.value) {
          bitcoin.value = data + " Bitcoin";
        }else{
          bitcoin.value = "";
        }
      });
    })
  }
  convert();
</script>
